@import url('https://fonts.googleapis.com/css?family=Philosopher:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700');

.body{
    font-family: "open sans", sans-serif;
    
}


.navbar h1,
.navbar img {
    display:inline-block;
     
}

.navbar-default .navbar-nav>li>a {
    font-family: "open sans", sans-serif;
    color: black;
    
}

.navbar h1 {
    font-family: "Philosopher", sans-serif;
    color: black;
}


.navbar {    
    background: linear-gradient(gray, white);
}

.navbar-brand {
    padding-bottom: 20px;
    padding-top: 0;
}

.navbar-default {
    padding-bottom: 10px;
}

.logo {
    width: 40px;
}

.navbar-brand h1 {
  font-size: 20px;  
}

.callout {
    background-image: url(../images/curry.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}

figcaption {
    text-align: center;
}

.specials {
    text-align: center;
}

.cooking {
    max-width: 100%;
}

.spices{
    text-align: center;
}

.about {
    margin:10px;
}

footer {
  background: linear-gradient(gray, white);  
}


@media (min-width: 768px) {
    .navbar-default {
    padding-bottom: 40px;
    font-size: 20px;
}

 .navbar-default h1{
    font-size: 40px;

}

 .navbar-default img{
    font-size: 60px;

}
